<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/9476005_restaurant_pizza_food_cafe_icon.ico">
    <title>World Pizza</title>
</head>
<body>
    <!--
   <h1 class="titulos">Titulo</h1>
    <h2 class="subTitulos">SubTitulo</h2>
    <button class="btn">Boton <span class="fas fa-angle-right"></span></button>-->
 

    <!-- MENU PRINCIPAL -->
    <div class="menu-Principal">
        <div class="logo" id="logo">
            <img src="../img/9476005_restaurant_pizza_food_cafe_icon.ico" alt="logo">
        </div>

        <div class="menu-bar" id="menuBar"> 
            <i class="fas fa-angle-right" id="btnMenuClose"></i>
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="">Sevicios</a></li>
                    <li><a href="">Equipo</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>

            <div class="sociales">
                <a href=""><samp class="fab fa-facebook"></samp></a>
                <a href=""><samp class="fab fa-instagram"></samp></a>
                <a href=""><samp class="fab fa-twitter"></samp></a>
                <a href=""><samp class="fab fa-youtube"></samp></a>
            </div>
        </div>

        <i class="fas fa-bars" id="btnMenuOpen"></i>


    </div>

    <script src="../JS/app.js"> </script>
</body>
</html>