<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/estilos.css">
    <link rel="stylesheet" href="../lib/fontawesome/css/all.min.css">
    <link rel="shortcut icon" href="../img/9476005_restaurant_pizza_food_cafe_icon.ico">
    <title>World Pizza</title>
</head>
<body>
    <!--
   <h1 class="titulos">Titulo</h1>
    <h2 class="subTitulos">SubTitulo</h2>
    <button class="btn">Boton <span class="fas fa-angle-right"></span></button>-->
 

    <!-- MENU PRINCIPAL -->
    <div class="menu-Principal">
        <div class="logo" id="logo">
            <img src="../img/9476005_restaurant_pizza_food_cafe_icon.ico" alt="logo">
        </div>

        <div class="menu-bar" id="menuBar"> 
            <i class="fas fa-angle-right" id="btnMenuClose"></i>
            <nav class="enlaces" id="enlaces">
                <ul>
                    <li><a href="">Sevicios</a></li>
                    <li><a href="">Equipo</a></li>
                    <li><a href="">Contacto</a></li>
                </ul>
            </nav>

            <div class="sociales">
                <a href=""><samp class="fab fa-facebook"></samp></a>
                <a href=""><samp class="fab fa-instagram"></samp></a>
                <a href=""><samp class="fab fa-twitter"></samp></a>
                <a href=""><samp class="fab fa-youtube"></samp></a>
            </div>
        </div>
        <i class="fas fa-bars" id="btnMenuOpen"></i>
    </div>


    <!-- SLIDER DE PRODUCTOS-->
    <section id="menu-productos">
        <div class="contenedor-principal">
            <button id="btn-izquierda"><span class="fas fa-angle-left"></span></button>

            <div class="slider">
                <div class="container-productos">
                    <div class="descripcion-productos">
                    <h2>Producto <b> premium </b></h2>
                    <h1> Peperonni </h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perferendis autem ullam voluptates natus quia iste nemo 
                        atque sequi fugiat! </p>

                        <button class="btn">Solicitala aqui!! <span class="fas fa-angle-right"></span></button>
                    </div>
                        <div class="imagen-productos">
                            <img src="../img/Peperonni.jpg" alt="">
                        </div>
                        
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                    <h2>Producto <b>premium</b></h2>
                    <h1>Especial</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perferendis autem ullam voluptates natus quia iste nemo 
                        atque sequi fugiat! </p>

                        <button class="btn">Solicitala aqui!! <span class="fas fa-angle-right"></span></button>
                    </div>
                        <div class="imagen-productos">
                            <img src="../img/Especial.jpg" alt="">
                        </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                    <h2>Producto <b>basico</b></h2>
                    <h1>Margarita</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perferendis autem ullam voluptates natus quia iste nemo 
                        atque sequi fugiat! </p>

                        <button class="btn">Solicitala aqui!! <span class="fas fa-angle-right"></span></button>
                    </div>
                        <div class="imagen-productos">
                            <img src="../img/Margarita.jpg" alt="">
                        </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                    <h2>Producto <b>premium</b></h2>
                    <h1>Americana</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perferendis autem ullam voluptates natus quia iste nemo 
                        atque sequi fugiat! </p>

                        <button class="btn">Solicitala aqui!! <span class="fas fa-angle-right"></span></button>
                    </div>
                        <div class="imagen-productos">
                            <img src="../img/Americana.jpg" alt="">
                        </div>
                </div>

                <div class="container-productos">
                    <div class="descripcion-productos">
                    <h2>Producto <b>Especial</b></h2>
                    <h1>Suprema</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Perferendis autem ullam voluptates natus quia iste nemo 
                        atque sequi fugiat! </p>

                        <button class="btn">Solicitala aqui!! <span class="fas fa-angle-right"></span></button>
                    </div>
                        <div class="imagen-productos">
                            <img src="../img/Suprema.jpg" alt="">
                        </div>
                </div>

            </div>
            <button id="btn-derecha"><span class="fas fa-angle-right"></span></button>
        </div>
    </section>



    <script src="../JS/app.js"> </script>
</body>
</html>